#menu-toggle-close {
    position: relative;
    z-index: 1000; /* pastikan tombol berada di atas elemen lain */
}


@media only screen and (max-width: 768px) {
    .ast-mobile-popup-header {
        display: block;
    }
}

/* #menu-toggle-close {
    pointer-events: auto;
} */
