/* Tombol close popup */
.popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    z-index: 100;
}

/* Styling popup */
.elementor-location-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* Menyembunyikan popup */
    background-color: rgba(0, 0, 0, 0.7); /* Background semi-transparan */
    justify-content: center;
    align-items: center;
}

/* Menampilkan popup jika kelas 'active' ditambahkan */
.elementor-location-popup.active {
    display: flex;
}

/* Gaya elemen di dalam popup */
.elementor-element {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    overflow: hidden;
}
